.new {
  /* background-image: url("https://moviekoop.com/Images/Cover_Photos/3-idiots-hindi-movie.jpg"); */

  background-image: linear-gradient(
    90deg,
    rgb(34, 34, 34) 24.97%,
    rgb(34, 34, 34) 38.3%,
    rgba(34, 34, 34, 0.04) 97.47%,
    rgb(34, 34, 34) 100%
  );

  height: 430px;
  background-repeat: repeat-x;
  background-position: right;
}
.setName {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 42px;
  padding: 12px 8px;
  font-weight: 500;
  line-height: 1.33;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
