.new {
	/* background-image: url(${cards.BannerLink}); */

	background-image: linear-gradient(
		90deg,
		rgb(34, 34, 34) 24.97%,
		rgb(34, 34, 34) 38.3%,
		rgba(34, 34, 34, 0.04) 97.47%,
		rgb(34, 34, 34) 100%
	);

	height: 430px;
	background-repeat: repeat-x;
	background-position: right;
}
.setName {
	margin-left: 22px;
	max-width: 520px;
	color: rgb(255, 255, 255);
	font-family: "Open Sans";
	font-size: 36px;
	/* line-height: 42px; */
	padding: 12px 8px;
	font-weight: 500;
	line-height: 1.33;
}

.button {
	font-size: 10px;
	margin-right: 10px;
	font-weight: bold;
	top: 0px;
}

.button_book:hover {
	background-color: rgb(77, 10, 21);
}
